body {
    color: #434455;
    font-family: "Roboto",sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5; }

.address {
    font-style: normal;
}
.contact {
letter-spacing: 0.02em;
color: #434455;
}
.page-contacts .contact:active {
    color: #404bbf;
}
.page-contacts .contact:hover, .page-contacts .contact:focus {
    color: #404bbf;
}

h1 {
font-size: 56px;
line-height: 1.07;
color: #fff;
text-align: center;
letter-spacing: 0.02em;
width: 496px;
}
.section-title, .name, .logo {
    color: #2e2f42;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.logo {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding-top: 24px;
padding-bottom: 24px;
margin-left: 0;
margin-right: 76px;
}

.logo .web {
    color: #2e2f42;
}

.nav {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-right: 0;
    margin-left: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}
.page-nav .nav:active {
    color: #404bbf;
}

.page-nav .nav:hover, .page-nav .nav:focus {
    color: #404bbf;
}
.button {
color: #fff;
background-color: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
border-radius: 4px;
cursor: pointer;
font-family: inherit;
text-align: center;
margin-bottom: 188px;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 32px;
padding-right: 32px;
margin-right: auto;
margin-left: auto;
}

.first-section .button:active {
    background-color: #404BBF;
}
.first-section .button:hover, .first-section .button:focus {
background-color: #404BBF;
} 


.first-section, .page-footer {
background-color: #2e2f42;
}

.section-text {
letter-spacing: 0.02em;
color: #434455;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.text-footer {
    color: #f4f4fd;
    letter-spacing: 0.02em;
    width: 264px;
    text-align: left;

}
.third-section {
background-color: #F4F4FD;
}
.frame {
background-color: #FFFFFF;
width: calc((100% - 24px) / 4);
}

.logof {
font-family: "Raleway", sans-serif;
font-size: 18px;
text-transform: uppercase;
color: #4d5ae5;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
display: inline-block;
margin-bottom: 16px;
}

.logof .webf {
    color: #f4f4fd;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
img {
    display: block;
}
.container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
}

.page-header .container {
display: flex;
padding-top: 24px;
padding-bottom: 24px;
align-items: center;
border-bottom: 1px solid #e7e9fc;
 }

.page-nav {
display: flex;
gap: 40px;
padding-top: 24px;
padding-bottom: 24px;
align-items: center;
margin-right: auto;
}
.page-contacts {
    display: flex;
    gap: 40px;  
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 0;
  margin-left: 332px;
}
.li-adress {
justify-content: flex-end;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.page-title {
    text-align: center;
    margin: top 188px;
    padding-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}
.team {
    display: flex;
    gap: 24px;
    text-align: center;
}


.features {
display: flex;
gap: 24px;
text-align: left;
}
.item-feature {
width: calc((100% - 24px) / 4);
}
.cards {
    display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px; 
        padding: 0;
        text-align: left
}

.item-card {
     width: calc((100% - 48px) / 3);
}
